{% for item in articles %}
<a href="articleDetail.php?idArticle={{item.idArticle}}&idVendeur={{item.idVendeur}}">
    <div class="col-md-2 col-xs-10 articleWell nopadding">
        <div class="col-md-12 nopadding">
            {% if item.imageUrl|replace({".":"Mini."}) is empty%}
                <img class="center-block" src="images/article/vide.png"/>
            {% else %}
                <img class="center-block" src="{{item.imageUrl|replace({".":"Mini."})}}"/>
            {% endif %}    
        </div>
        <div class="col-md-12 nopadding">
            <span class="col-md-12 text-center"><strong>{{item.designation}}</strong> - <small><em>{{item.nom}}</em></small></span>
            <span class="col-md-12 nopadding text-center prix">{{item.prix}} €</span>
            <span class="col-md-12 nopadding text-center"><em><small>Vendeur:</small>{{item.nomVendeur}}</em></span>
        </div>
    </div>
</a>
{% endfor %}