{% extends "layout.html" %}

{% block title %}
	Accueil
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 row" id="mainSlider">
        {% for item in articlesSlide %}
            <li><a href="articleDetail.php?idArticle={{item.idArticle}}"> <img width="400px" src="{{item.imageUrl}}"></a></li>
        {% endfor %}
    </div>
</div>
<div class="container" id="articlesList">
    <div class="row" id="articlesListHead">
        <h2 class="col-md-2">Nos articles</h2>
        <div class="col-md-2 col-md-offset-7" id="tri"><strong>Prix : </strong><button class="btn asc">↑</button>  <button class="btn desc">↓</button></div>
    </div>
    <div class="row col-md-offset-1 col-xs-offset-1" id="articles">
        {% include 'ajaxReponse/articleList.html' %}
    </div>
</div>
{% endblock %}