{% extends "layout.html" %}

{% block title %}
	Accueil
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1 row" id="mainSlider">
        {% for item in articlesSlide %}
            <li><a href="articleDetail.php?idArticle={{item.idArticle}}"> <img width="400px" src="{{item.imageUrl}}"></a></li>
        {% endfor %}
    </div>
</div>
<div class="container" id="articlesList">
    <h2>Articles</h2>
    {% for item in articles %}
    <a href="articleDetail.php?idArticle={{item.idArticle}}&idVendeur={{item.idVendeur}}">
        <div class="col-md-2 articleWell nopadding">
            <div class="col-md-12 nopadding">
                {% if item.imageUrl|replace({".":"Mini."}) is empty%}
                    <img class="center-block" src="images/article/vide.png"/>
                {% else %}
                    <img class="center-block" src="{{item.imageUrl|replace({".":"Mini."})}}"/>
                {% endif %}    
            </div>
            <div class="col-md-12 nopadding">
                <strong><span class="col-md-12 text-center">{{item.designation}}</span></strong>
                <span class="col-md-12 nopadding text-center prix">{{item.prix}} €</span>
                <span class="col-md-12 nopadding text-center"><em><small>Vendeur:</small>{{item.nomVendeur}}</em></span>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% endblock %}