{% if detail is defined%}
<div class="well col-md-3 col-md-offset-4">
{% endif %}

<form class="center-block" id="inscriptionForm" action="" method="POST">
    <div    {% if detail is defined%}
            class="col-md-12"
            {% else %}
            class="col-md-offset-2"
            {% endif %}
    >
        <h2 class="row">
            {% if detail is defined%}
            Mes Informations
            {% else %}
            Créer un compte
            {% endif %}
        </h2>
        <div class="row">
            <div class='col-md-12'>
                <label for="nom">Nom:</label>
            </div>
            <div class='col-md-12'>
                <input type="text" id="nom" name="nom" {% if client is defined%}
                                                        value="{{client.nom}}" 
                                                        {% endif %}
                                                        required/>
            </div> 
        </div>
        <div class="row" >
            <div class='col-md-12'>
                <label for="prenom">Prenom:</label>
            </div>   
            <div class='col-md-12'>
                <input type="text" id="prenom" name="prenom" {% if client is defined%}
                                                            value="{{client.prenom}}" 
                                                            {% endif %}
                                                            required/>
            </div> 
        </div>
        <div class="row" >
            <div class='col-md-12'>
                <label for="email">Email:</label>
            </div>
            <div class='col-md-12'>
                <input type="email" name="email" id="email" {% if client is defined%}
                                                            value="{{client.email}}" 
                                                            {% endif %}
                                                            required/>
            </div> 
        </div>                
        <div class="row" >
            <div class='col-md-12'>
                <label for="password">Mot de passe :</label>
            </div>
            <div class='col-md-12'>
                <input type="password" name="password" id="password" minlength=6 {% if detail is defined%}
                                                                                    
                                                                                    {% else %}
                                                                                    required
                                                                                    {% endif %}/>
            </div>  
        </div>
         <div class="row" >
            <div class='col-md-12'>
                <label for="password">Confirmer mot de passe :</label>
            </div>
            <div class='col-md-12'>
                <input type="password" equalTo="#password" name="password2" id="password2" minlength=6 {% if detail is defined%}
                                                                                    
                                                                                    {% else %}
                                                                                    required
                                                                                    {% endif %}/>
            </div>  
        </div>
        <div class="row" >
            <div class='col-md-12'>
                <label for="adresse">Adresse :</label>
            </div>
            <div class='col-md-12'>
                <textarea  name="adresse" id="adresse">{% if client is defined%}{{client.adresse}}{% endif %}</textarea>
            </div>  
        </div> 
        <div class="row" >
            <div class='col-md-12'>
                <label for="adresse">Téléphone :</label>
            </div>
            <div class='col-md-12'>
                <input type="text" name="telephone" id="telephone" {% if client is defined%}
                                                            value="{{client.telephone}}" 
                                                            {% endif %}
                                                            />
            </div>  
        </div> 
    </div>
    <div class="row" >
        {% if detail is defined%}
        <div id="submitModifClient" class='col-md-12'>
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="modifClientSubmit" value="Modifier"/>
        </div>
        {% else %}
        <div id="submitInscr" class='col-md-12'>
            <input type="submit" class="btn btn-primary btn-lg btn-block" name="inscriptionSubmit" value="S'inscrire"/>
        </div>
        {% endif %}
        
    </div>
</form>
{% if detail is defined%}
</div>
{% endif %}