{% extends "layout.html" %}

{% block content %}
    <h2>Inscription</h2>
    <div class="well" id="ajoutCategorie">
        <form action="" method="POST">
            <div class="row">
                <div class='col-md-3'>
                    <label for="nom">Nom:</label>
                </div>
                <div class='col-md-3'>
                    <input type="text" id="nom" name="nom"/>
                </div> 
            </div>
            <div class="row" >
                <div class='col-md-3'>
                    <label for="prenom">Prenom:</label>
                </div>   
                <div class='col-md-3'>
                    <input type="text" id="prenom" name="prenom"/>
                </div> 
            </div>
            <div class="row" >
                <div class='col-md-3'>
                    <label for="email">Email:</label>
                </div>
                <div class='col-md-3'>
                    <input type="text" name="email" id="email" required/>
                </div> 
            </div>                
            <div class="row" >
                <div class='col-md-3'>
                    <label for="password">Mot de passe :</label>
                </div>
                <div class='col-md-3'>
                    <input type="password" name="password" id="password" minlength=6 required/>
                </div>  
            </div>
             <div class="row" >
                <div class='col-md-3'>
                    <label for="password">Confirmer mot de passe :</label>
                </div>
                <div class='col-md-3'>
                    <input type="password" name="password2" id="password2" minlength=6 required/>
                </div>  
            </div>
            <div class="row" >
                <div class='col-md-3'>
                    <label for="adresse">Adresse :</label>
                </div>
                <div class='col-md-3'>
                    <input type="adresse" name="adresse" id="adresse"/>
                </div>  
            </div> 
            <div class="row" >
                <div class='col-md-3 col-md-offset-0'>
                    <input type="submit" class="btn btn-default" name="inscriptionSubmit" value="S'inscrire"/>
            
                </div>
            </div>
        </form>
    </div>
{% endblock %}