{% extends "layout.html" %}

{% block title %}
Gestion Categories
{% endblock %}

{% block content %}
	<h2>Gestion des categories</h2>
	<div class="well container" id="ajoutCategorie">
		<h4>Ajouter une categorie</h4>
		<form action="" method="POST">
			<div  class="form-control row col-md-12 col-xs-12" >
				<div class='col-md-3 col-xs-8'>
					<label for="nom" class='col-md-4 col-xs-4'>Nom :</label> <input class='col-md-8 col-xs-8' type="text" id="nom" name="nom"/>
				</div>
				<div class='col-md-2 col-xs-4'>
					<input type="submit" class="btn btn-default" name="enregistrer" value="Enregistrer">	
				</div>
			</div>
		</form>
	</div>
	<div class="well container" id="listCategorie" data-spy="scroll">
		<h4>Liste des categories</h4>
		<form action="" method="POST" >
			{% for catego in categorie %}
				<div  class="form-control row col-md-12 col-xs-12">
					<div class='col-md-3 col-xs-8'>
						{{catego.Nom}} :
					</div> 
					<div class='col-md-2 col-xs-4'>
						<input type="submit" class="btn btn-default" name="supprimer[{{catego.IdCategorie}}]" value="Supprimer">
					</div>
				</div>
			{% endfor %}
		</form>
	</div>
{% endblock %}