<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="css/bootstrap.min.css">
            <link rel="stylesheet" href="css/style.css">
            <script src="js/jquery-3.2.1.min"></script>
            <script src="js/popper.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <a href="">
                <div class="ban">dgd</div>
            </a>
            <div class="row">
                {% include 'menu.html' %}
            </div>
            <div class="row" id="content">  

                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% block footer %}
                    
                {% endblock %}
            </div>
        </div>
    </body>
</html>