<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="css/lib/bootstrap.min.css">          
            <link rel="stylesheet" href="css/lib/jquery-ui.min.css">
            <link rel="stylesheet" href="css/lib/jquery-ui.structure.min.css">
            <link rel="stylesheet" href="css/lib/jquery-ui.theme.min.css">
            <link rel="stylesheet" href="css/lib/slick.css">
            <link rel="stylesheet" href="css/lib/slick-theme.css">
            <link rel="stylesheet" href="css/style.css">            
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid col-md-12">   
            <a href="/">
                <div class="ban"></div>
            </a>        
            <div class="container" id="page">
                 
                <div class="row">
                    {% include 'menu.html' %}
                </div>     
                <div class="row" id="message">
                    {% include 'message.html' %}
                </div>        
                <div class="row" id="content">  

                    {% block content %}{% endblock %}
                </div>
                 <div class="row" id="footer">
                    {% include 'footer.html'%}
                </div>
            </div>
           
        </div>
        <div id="ConnexionDialog" class="row">
             {% include 'connexion.html' %}
        </div>
        <div id="panierDialog" class="row">
        </div>
        <script src="js/lib/jquery-3.2.1.min.js"></script>
        <script src="js/lib/popper.js"></script>        
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/jquery-ui.min.js"></script>
        <script src="js/lib/slick.min.js"></script>
        <script src="js/lib/jquery.validate.min.js"></script>
        <script src="js/lib/jquery.dialogOptions.js"></script>
       
        <script src="js/commentaire.js"></script>

        <script src="js/connexion.js"/></script>
        <script src="js/inputFile.js"></script>
        <script src="js/listDesignation.js"></script>
        <script src="js/mySlider.js"></script>
        <script src="js/formValide.js"></script>
        <script src="js/panier.js"></script>
        <script src="js/triArticle.js"></script>
        <script src="js/pageArticle.js"></script>
    </body>
</html>