<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Accueil<span class="sr-only">(current)</span></a></li>-->
        <li><a href="/">Accueil<span class="sr-only"></span></a></li>
        <!--<li><a href="#">Link</a></li>-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categorie <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% for item in categorie %}
              <li><a href="#">{{item.Nom}}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <div id='connexion' class="navbar-form navbar-right">
        {% if session is empty%}
          <a href="ajoutClient.php">
            <button  id="inscrireButton" class="btn btn-default">S'inscire</button>
          </a>
          <button  id="connexionButton" class="btn btn-default">Se connecter</button>
        {% endif %} 
        {% if session=='ok'%}
          {% include 'monCompte.html' %}
        {% endif %} 
      </div>
      <form class="navbar-form  navbar-right">
        <div class="form-group ">
          <input type="text" class="form-control" placeholder="rechercher un article">
          <select class="form-control">
            <option value="all">All</option>
            {% for item in categorie %}
                <option value="{{item.Nom}}">{{item.Nom}}</option>
            {% endfor %}
          </select>
        </div>
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>